In [ ]:
test = 1
j = 0
k = 100

while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100
print(k)

40
45
50
55
60
65
70
75
80
85
100

task01

In [ ]:
for i in range(24,-7,-6):
  if(i==-6):
    print(i)
  else:
     print(i,end=",")

24,18,12,6,0,-6

In [ ]:
for i in range(-10,21,5):
  if i==20:
    print(i)
  else:
    print(i,end=",")

-10,-5,0,5,10,15,20

In [ ]:
for i in range(18,64,9):
  if i==63:
    print(i)
  else:
    print(i,end=",")

18,27,36,45,54,63

In [ ]:
count=18
while count<=63:
  if  count==63:
    print(-count)
  elif count%18==0:
    print(count,end=",")
  elif count%18!=0:
    print(-count,end=",")
  count+=9

18,-27,36,-45,54,-63

In [ ]:
car=input()
number=int(input())
for i in range(number):
  print(car)

swwww
2
swwww
swwww

In [ ]:
sum=0
for i in range(601):
  if i%7==0 and i%9==0:
    sum+=i
print(sum)

2835

In [ ]:
num=int(input("sggv"))
while True:
  if num<10:
    print(num)
    break

  else:
    a=num%10
    print(a,end=",")
    num=num//10

sggv3456
6,5,4,3

In [ ]:
#4
sum=0
for i in range(601):
  if i%7==0 and i%9==0:
    sum=sum
  elif i%7==0 or i%9==0:
    sum+=i
print(sum)

39814

In [ ]:
for i in range(10,51):
  if i%2!=0:
    print(i, end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#6
n=int(input())
y=0
for i in range(1,n+1,1):
  if i%2!=0:
    y+= i**2
  else:
    y-=i**2
print(y)

20
-210

In [ ]:
n=int(input())
y=0
for i in range(1,n+1,1):
  if i%2!=0:
    y= y+i**2
  else:
    y=y-i**2
print(y)

10
0

In [ ]:
#7
sum=0
count = 0
for i in range(10):
  a=int(input("enter a value: "))
  if a%2!=0:
    count+=1
    sum+=a
print(sum)
print(sum/count)

enter a value: -20
enter a value: 13
enter a value: -5
enter a value: 40
enter a value: -17
enter a value: 10
enter a value: 20
enter a value: -8
enter a value: 99
enter a value: -200
90
22.5

In [ ]:
sum=0

for i in range(5):
  a=int(input())
  sum+=a
  print(sum)

1
1
2
3
3
6
4
10
5
15

In [ ]:
#8
sum=0
n=int(input())
for i in range(1,n+1):
  if i%7==0:
    sum+=i
print(sum)

75
385

In [ ]:
#9
sum=0
for i in range(5):
  num=int(input())
  sum+=num
  print(sum)

11
11
-29
-18
-3
-21
47
26
50
76

In [ ]:
#10

In [ ]:
#11
count=1
num=int(input())
while(num!=0):
  num=num//10
  count+=1
print(count)

01234
5

In [ ]:
#12
count=0
num=int(input())
number=num
while(num!=0):
  num=num//10
  count+=1

p=10**(count-1)
while number!=0:
  count=number//p
  #print(count,end=",")
  number=number%p
  p=p//10
  if p==0:
    print(number)
  else:
    print(number,end=",")

344
44,4,0

In [ ]:
num=int(input())
count=0
for i in range(1,num+1):
  if num%i==0:
    print(i)
    count+=1

print("total",count,"divisors")

121
1
11
121
total 3 divisors

In [ ]:
digit=0
n=int(input())
while digit!=0:
  n=n//10
  digit+=1

digit=0
number=n
power= 10**(digit-1)
while digit!=0:
  number=number//10
  digit+=1
  number=number%power
  print(number)

2345

In [ ]:
count=0
num=int(input())
while num!=0:
  num=num%10
  print(num)

while num!=0:
  num=num//10
count=count+1

In [ ]:
#16
number=int(input("enter"))
max=-999
min=999
sum=0



for i in range(0,number):
  n=int(input("enter number"))
  sum+=n

if n>max:
    max=n
if n<max:
    min=n
avg=sum/number
print(max,"is max")
print(min,"is min")
print(avg,"is avg")

enter3
enter number1
enter number2
enter number3
3 is max
999 is min
2.0 is avg

In [ ]:
n=int(input())
for row in range(1,n+1):

  for col in range(1,row+1):
    print(col,end="")
  print()

5
1
12
123
1234
12345

In [ ]:
n=int(input())
for row in range(n-row):
  for col in range(1,row+1):
    print(col,end="")

4

NameError: ignored

In [ ]:
n=int(input())
count=0
for i in range(1,n+1):
  if( n%i==0):
    count+=1
if count==2:
  print(n, "prime number")
else:
   print(n,"not a prime number")

11
11 prime number

In [ ]:
n=int(input())
count=0
div=-1
while ( dive)

In [ ]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,row+1):
    print(col,end="")
  print()

4
1
12
123
1234

In [ ]:
#8
num=int(input())
sum=0
for a in range(1,num+1):
  if a%7==0:
    sum+=a
print(sum)

50
196